<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="\static\style.css">
</head>
<body>
	<div class="fh">
		<a class="container" href="/">FoodHub</a>
	</div>
	<div class="navbar">
		<a href="/signup">Sign Up</a>
	</div>	

	<h2>Sign In</h2>
	<form>
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<button onclick="get">Log In</button>
	</form>
</body>
</html>