<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="\static\style.css">
</head>
<body>
	<div class="fh">
		<a href="/">FoodHub</a>
	</div>

	<div class="navbar">
		<a href="/signin">Log In</a>
	</div>	

	<h2>Register</h2>
	<form>
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="firstname" placeholder="First Name">
		<input type="text" name="lastname" placeholder="Last Name">
		<input type="email" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="text" name="contact_num" placeholder="Contact Number">

		<div>
			<input type="radio" id="owner" name="user"><label for="owner">Owner</label>
			<input type="radio" id="customer" name="user"><label for="customer">Customer</label>
			<input type="radio" id="male" name="gender"><label for="male">Male</label>
			<input type="radio" id="female" name="gender"><label for="female">Female</label>
		</div>
	<button onclick="submit">Submit</button>
	</form>
</body>
</html>